In [23]:
import pandas as pd

In [24]:
pd.set_option('display.max_columns',None)

In [25]:
df = pd.read_csv(r"C:\Users\user\OneDrive\Desktop\Student_details2.csv")

In [26]:
print(df)

   enrollment_no    name   age branch      fees
0        ENR1000   Sneha  23.0     ME   57094.0
1        ENR1001   Tejas  20.0     CE   83489.0
2        ENR1002     NaN  24.0    CSE   72406.0
3        ENR1003  Sahana  22.0    ECE   64116.0
4        ENR1004   Sneha  19.0    CSE  114277.0
..           ...     ...   ...    ...       ...
95       ENR1095    Diya  19.0    ECE   60034.0
96       ENR1096   Nisha  24.0     CE  116490.0
97       ENR1097   Aarav  25.0    ECE   84118.0
98       ENR1098  Ananya  20.0     IT  115631.0
99       ENR1099   Rohan  19.0     ME   70579.0

[100 rows x 5 columns]

In [ ]:
# 1. Missing values

In [28]:
missing_values = df.isnull().sum()
print("Missing values:\n", missing_values)

Missing values:
 enrollment_no     0
name             13
age               9
branch           14
fees              7
dtype: int64

In [ ]:
# 2. Duplicates

In [29]:
duplicates = df.duplicated().sum()
print("Duplicate rows:", duplicates)

Duplicate rows: 0

In [ ]:
# 3. Data types

In [30]:
data_types = df.dtypes
print("Data types:\n", data_types)

Data types:
 enrollment_no        str
name                 str
age              float64
branch               str
fees             float64
dtype: object

In [ ]:
# 4. Summary stats (numeric columns)

In [31]:
numeric_summary = df.describe()
print("Numeric summary:\n", numeric_summary)

Numeric summary:
              age          fees
count  91.000000      93.00000
mean   21.373626   79765.16129
std     2.336419   26367.89656
min    18.000000   31800.00000
25%    19.000000   57094.00000
50%    21.000000   80864.00000
75%    23.000000  105454.00000
max    25.000000  119814.00000

In [ ]:
# 5. Unique values (categorical columns)

In [34]:
for col in categorical_cols:
    unique_vals = df[col].unique()
    print(f"Unique values in {col}: {unique_vals}")

Unique values in enrollment_no: <ArrowStringArray>
['ENR1000', 'ENR1001', 'ENR1002', 'ENR1003', 'ENR1004', 'ENR1005', 'ENR1006',
 'ENR1007', 'ENR1008', 'ENR1009', 'ENR1010', 'ENR1011', 'ENR1012', 'ENR1013',
 'ENR1014', 'ENR1015', 'ENR1016', 'ENR1017', 'ENR1018', 'ENR1019', 'ENR1020',
 'ENR1021', 'ENR1022', 'ENR1023', 'ENR1024', 'ENR1025', 'ENR1026', 'ENR1027',
 'ENR1028', 'ENR1029', 'ENR1030', 'ENR1031', 'ENR1032', 'ENR1033', 'ENR1034',
 'ENR1035', 'ENR1036', 'ENR1037', 'ENR1038', 'ENR1039', 'ENR1040', 'ENR1041',
 'ENR1042', 'ENR1043', 'ENR1044', 'ENR1045', 'ENR1046', 'ENR1047', 'ENR1048',
 'ENR1049', 'ENR1050', 'ENR1051', 'ENR1052', 'ENR1053', 'ENR1054', 'ENR1055',
 'ENR1056', 'ENR1057', 'ENR1058', 'ENR1059', 'ENR1060', 'ENR1061', 'ENR1062',
 'ENR1063', 'ENR1064', 'ENR1065', 'ENR1066', 'ENR1067', 'ENR1068', 'ENR1069',
 'ENR1070', 'ENR1071', 'ENR1072', 'ENR1073', 'ENR1074', 'ENR1075', 'ENR1076',
 'ENR1077', 'ENR1078', 'ENR1079', 'ENR1080', 'ENR1081', 'ENR1082', 'ENR1083',
 'ENR1084', 'ENR1085', 'ENR1086', 'ENR1087', 'ENR1088', 'ENR1089', 'ENR1090',
 'ENR1091', 'ENR1092', 'ENR1093', 'ENR1094', 'ENR1095', 'ENR1096', 'ENR1097',
 'ENR1098', 'ENR1099']
Length: 100, dtype: str
Unique values in name: <ArrowStringArray>
[  'Sneha',   'Tejas',       nan,  'Sahana',   'Meera',  'Vivaan',  'Pranav',
   'Aarav',    'Diya',  'Aditya',  'Ishita',   'Nisha', 'Lakshmi',  'Vihaan',
  'Gautam',   'Arjun',  'Ananya',    'Riya',   'Rahul', 'Karthik',   'Rohan']
Length: 21, dtype: str
Unique values in branch: <ArrowStringArray>
['ME', 'CE', 'CSE', 'ECE', nan, 'EEE', 'IT']
Length: 7, dtype: str