In [1]:
import pandas as pd

In [2]:
# Sample DataFrame

In [3]:
data = {
    'CustomerID': [1, 2, 3, 4],
    'Date_of_Birth': ['1990-01-01', None, '1985-05-10', '2000-12-31'],
    'Transaction_Date': ['01/02/2023', '02-03-2023', '2023-04-05', '2023/05/06'],
    'Amount': [100, 200, None, 400]
}

In [5]:
df = pd.DataFrame(data)
print(df)

   CustomerID Date_of_Birth Transaction_Date  Amount
0           1    1990-01-01       01/02/2023   100.0
1           2           NaN       02-03-2023   200.0
2           3    1985-05-10       2023-04-05     NaN
3           4    2000-12-31       2023/05/06   400.0

In [ ]:
# 1. Handle missing values

In [7]:
df['Date_of_Birth'] = df['Date_of_Birth'].fillna('1900-01-01')
df['Amount'] = df['Amount'].fillna(df['Amount'].mean())

In [8]:
print(df)

   CustomerID Date_of_Birth Transaction_Date      Amount
0           1    1990-01-01       01/02/2023  100.000000
1           2    1900-01-01       02-03-2023  200.000000
2           3    1985-05-10       2023-04-05  233.333333
3           4    2000-12-31       2023/05/06  400.000000